{% extends 'base.html' %}
{% block content %}
{{ super() }}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Названия</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Теги</th>
    </tr>
  </thead>
  <tbody>
            {% for problem in problems %}
                <tr>
                    <th scope="row"><a href="https://codeforces.com/problemset/problem/{{ problem['contestId'] }}/{{ problem['index'] }}">{{ problem['name'] }}</a></th>
                      <td>{{ problem['rating'] if problem['rating'] else 'Нету'}}</td>
                      <td>{{ ' '.join(problem['tags']) }}</td>
                </tr>
            {% endfor %}
  </tbody>
</table>
{% endblock %}