{% extends 'base.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Никнейм</th>
      <th scope="col">Рейтинг</th>
    </tr>
  </thead>
  <tbody>
            {% for el in rating %}
                <tr>
                      <th scope="row">{{ loop.index }}</th>
                      <td><a href="/{{ el['handle'] }}">{{ el['handle'] }}</a></td>
                      <td>{{ el['rating'] }}</td>
                </tr>
            {% endfor %}
  </tbody>
</table>
{% endblock %}